1.what are data structures,and why are they important?
- data structures are formats for organizing and storing differnt kinds of data in python.they make the code more efficient,and they make the code easier to understand.

2.Explain the difference between mutable and immutable data types with examples?
 - Mutable Data Type:A mutable data type is one whose values can be changed.example:list,dictionaries.and set
 - Immutable Data Type: A immutable data type is one in which the values cant be changed or altered.example:string and tuples.

3.what are the main differences between lists and tuples in python?
 - list:list are mutable,defined using square brackets[],elements can be added or removed,elements can be modified.
 - Tuples:tuples are immutable,defined using paranthesis(),elements cannot be added or removed,elements cannot be modified.

4.Describe how dictionaries store data?
 - dictionaries store data as key-value pairs,where each key is unique and maps to a specific value.
 - keys are immutable objects,such as strings, integers,or tuples.
 - keys must be unique within a dictionary.
 - values can be any type of object,including strigs,integers,lists,dictionaries,etc

5.why might you use a set instead of a list in python?
 - uinqueness of elements
 - faster memebership testing
 - faster insertion and deletion
 - mathematical set operations
 - memeory efficiency

 6.what is string in python,and how is it differnt from a list?
  - string is a sequence of character,such as letters,numbers,or symbols,enclosed in quotes(either in single '' or double quotes "")
  - string is different list in many ways:immutability:strings are immutable,while list are mutable.
  - element type: strings can only contains chracters,while list can contain any type of object.(including strings,integers,floats,etc)

7.How do tuples ensure data integrity in python?
 - tuples are a type of immutable collection in python,meaning their contents cannot be modified after creation.this immutability property of tuples ensures data integrity in several ways:1.prevents unintended changes 2.ensures consistency 3.supports hashability 4.provides a snapshot

8.what is a hash table,and how does it relate to dictionaries in python?
 - hash table is a data structure that stores key value pairs in an array using a hash function to map keys to indices of the array.in python, dictionaries are implemented using hash tables.this means that dictionaries provide an efficient way to store and look up key-value pairs, with an average time complexity of0(1) for insertions,deletions,and lookups.

9.can lists contain different data types in python?
 - A list can also contain a mix of python types including strings,floats,and booleans.

10.explain why strings are immutable in python?
- since immutable objects cannot change their value,python can optimize memeory usage.

11.what advantages do dictionaries offer over lists for certain tasks?
 - 1.Fast lookups
 2.efficient data retrival
 3.flexible data structure
 4.easy data modification
 5.reduced memeory usage
 6.improved code readability

12.Describe a scenario where using a tuple would be preferable over a list?
 - imagine you are working on a mapping application that requires storing geographical coordinates for various locations.

13.how do sets handle duplicate values in python?
 - python sets cannot have duplicate values.while you cannot modify the individual elements directly,you can still add or remove elements from the set.

14.how does the "in" keyword work differently for lists and dictionaries?
 - In operation for the dictionary tests on keys.the key of the dictionary ia s unique value as well as the set,and the execution time is about the same as for sets.

15.can you modify the elements of a tuple? explain why or why not?
 - NO you cannot modify the elements of a tuple.tuples are immutable,which means that their contents cannot be changed after creation.
 tuples are immutable for several reasons:
 - security
 -thread safety
 -hashability

16.what is a nested dictionary,and give an example of its use case?
 - Dictionaries that are stored as values within another dictionary is called nested dictionary.example:students = {"John": {"age": 20,"grade":"A"},"jane": {"age"22,"grade":b"}}


17.Decribe the time complexity of accessing elements in a dictionary?
 - similar to the insertion operation,dicitionary lookups in python also have an average time complexity of o(1).this means that, on average,the time taken to retrive an element from a dictionary is constant and does not depend on the size of the dictionary.

 18.In what situations are  lists preferred over dictionaries?
 - if you need an ordered collection,like a sequence of user actions.lists are your go-to.on the other hand,when you need quick look-ups,like mapping usernames to user data,dictionaries are invaluable.


 19.why are dictionaries considered unordered,and how does that affect data retrieval?
 - A dictionary is termed an unordered collection of objects because dictionaries do not maintain any inherant order of the items based on when they were added.

20.explain the difference between a list and a dictionary in terms of data retrieval?
- A list is an unordered collection of items,whereas a dictionary is an unordered data collection in a key:value pair.elements from the list can be accessed using the index,while the elements of the dictionary can be accessed using keys.

In [1]:
#practical questions

#write a code to create a string with your name and print it
a=("catherine")
print(a)

catherine

In [2]:
#write a code to find the length of the string "Hello World"
a=("hello world")
print(len(a))

11

In [3]:
#write a code to slice the first 3 chracters from the string "python programming"
a="python programming"
print(a[0:3])

pyt

In [5]:
 #Write a code to convert the string "hello" to uppercase
 a="hello"
 print(a.upper())

HELLO

In [6]:
  #Write a code to replace the word "apple" with "orange" in the string "I like apple"

string = "I like apple"
new_string = string.replace("apple", "orange")
new_string

'I like orange'

In [8]:
 #Write a code to create a list with numbers 1 to 5 and print it

my_list = list(range(1, 6))
my_list

[1, 2, 3, 4, 5]

In [9]:
 #Write a code to append the number 10 to the list [1, 2, 3, 4]

my_list = [1, 2, 3, 4]
my_list.append(10)
my_list

[1, 2, 3, 4, 10]

In [10]:
 #Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
my_list

[1, 2, 4, 5]

In [11]:
 #Write a code to access the second element in the list ['a', 'b', 'c', 'd']

my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
second_element

'b'

In [12]:
#Write a code to reverse the list [10, 20, 30, 40, 50].

my_list = [10, 20, 30, 40, 50]
reversed_list = my_list[::-1]
reversed_list

[50, 40, 30, 20, 10]

In [13]:
 #Write a code to create a tuple with the elements 100, 200, 300 and print it

# Write a code to create a tuple with the elements 100, 200, 300 and print it
my_tuple = (100, 200, 300)
my_tuple

(100, 200, 300)

In [17]:
 #Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

tuple = ('red', 'green', 'blue', 'yellow')
tuple[1:]

('green', 'blue', 'yellow')

In [18]:
  #Write a code to find the minimum number in the tuple (10, 20, 5, 15).

my_tuple = (10, 20, 5, 15)
min_number = min(my_tuple)
min_number

5

In [19]:
 #Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

my_tuple = ('dog', 'cat', 'rabbit')
index_of_cat = my_tuple.index('cat')
index_of_cat

1

In [21]:
 #Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

# Create a tuple of fruits
fruits = ("apple", "kiwi", "orange")

# Check if "kiwi" is in the tuple
if "kiwi" in fruits:
  print("Kiwi is in the tuple.")
else:
  print("Kiwi is not in the tuple.")

Kiwi is in the tuple.

In [22]:
 #Write a code to create a set with the elements 'a', 'b', 'c' and print it.

my_set = {'a', 'b', 'c'}
my_set

{'a', 'b', 'c'}

In [23]:
 #Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

my_set = {1, 2, 3, 4, 5}
my_set.clear()
my_set

set()

In [24]:
 #Write a code to remove the element 4 from the set {1, 2, 3, 4}.

my_set = {1, 2, 3, 4}
my_set.remove(4)
my_set

{1, 2, 3}

In [25]:
 #Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}

set1 = {1, 2, 3}
set2 = {3, 4, 5}

union_set = set1.union(set2)
union_set

{1, 2, 3, 4, 5}

In [26]:
 #Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

set1 = {1, 2, 3}
set2 = {2, 3, 4}

intersection_set = set1.intersection(set2)

intersection_set

{2, 3}

In [28]:
 #Write a code to create a dictionary with the keys "name", "age", and "city", and print it

my_dictionary = {
    "name": "catherine",
    "age": 21,
    "city": "hubli"
}

my_dictionary

{'name': 'catherine', 'age': 21, 'city': 'hubli'}

In [30]:
  #Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

my_dict = {'name': 'john', 'age': 25}
my_dict['country'] = 'USA'
my_dict

{'name': 'john', 'age': 25, 'country': 'USA'}

In [31]:
 #Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

my_dict = {'name': 'Alice', 'age': 30}
name_value = my_dict['name']
name_value

'Alice'

In [32]:
 #Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict['age']
my_dict

{'name': 'Bob', 'city': 'New York'}

In [33]:
 #Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}

my_dict = {'name': 'Alice', 'city': 'Paris'}

if 'city' in my_dict:
  print("The key 'city' exists in the dictionary.")
else:
  print("The key 'city' does not exist in the dictionary.")

The key 'city' exists in the dictionary.

In [34]:
 #Write a code to create a list, a tuple, and a dictionary, and print them all.

# Create a list
my_list = [1, 2, 3, 4, 5]
print("List:", my_list)

# Create a tuple
my_tuple = (6, 7, 8, 9, 10)
print("Tuple:", my_tuple)

# Create a dictionary
my_dict = {"name": "Alice", "age": 30, "city": "New York"}
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: (6, 7, 8, 9, 10)
Dictionary: {'name': 'Alice', 'age': 30, 'city': 'New York'}

In [35]:
 #Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

import random

# Create a list of 5 random numbers between 1 and 100
random_numbers = [random.randint(1, 100) for _ in range(5)]

# Sort the list in ascending order
random_numbers.sort()

# Print the sorted list
random_numbers

[26, 46, 63, 71, 73]

In [36]:
 #Write a code to create a list with strings and print the element at the third index.

my_list = ["apple", "banana", "cherry", "date", "elderberry"]

# Print the element at the third index (index 3)
my_list[3]

'date'

In [40]:
 #Write a code to combine two dictionaries into one and print the result

dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

combined_dict = (dict1,dict2)

combined_dict

({'a': 1, 'b': 2}, {'c': 3, 'd': 4})

In [38]:
 #Write a code to convert a list of strings into a set

def convert_list_to_set(list_of_strings):
  """Converts a list of strings into a set.

  Args:
    list_of_strings: A list of strings.

  Returns:
    A set containing the unique strings from the input list.
  """

  return set(list_of_strings)

# Example usage
my_list = ["apple", "banana", "cherry", "apple", "banana"]
my_set = convert_list_to_set(my_list)
print(my_set)  # Output: {'cherry', 'apple', 'banana'}

{'apple', 'banana', 'cherry'}